#lesson_body {
    text-align: left;
    margin:     auto;
    position:   relative;
    top:        100px;
    padding:    0em 0em;
    line-height: 2.6;
}

#key {
    width:      200px;
}

#value {
    width:      300px;
}
